.lotto-star-gold
{
    color:#FFDD00;
}

.lotto-star-dark-shadow
{
    box-shadow: -4px -8px 4px #32023A
}

.lotto-star-small-text
{
    font-size:0.633em;
}

.lotto-star-top-margin
{
    margin-top:0.5em;
}