.landing-page-header{
    text-align:center;
    padding:1em;
    margin:auto;
    width:"100vw";
    max-width:688px;
    font-size:0.8em
}

.lotto-star-container
{
    width:100vw;
    max-width:688px;
    text-align:right;
    padding:1em;
    margin:auto;
}